<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NextScrimz | Profile</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Anton&family=Baloo+Bhaijaan+2:wght@400..800&family=Dancing+Script:wght@400..700&family=Kalam:wght@300;400;700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Russo+One&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/regular/style.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/fill/style.css"
    />
    <link rel="stylesheet" href="/css/profile.css" />
  <link rel="icon" type="image/png" id="logo-header-main" href="/logo/logo.png">
  </head>

  <body>
    <%- include('./components/navbars/navbar-profile.ejs', {wallet}) %>
    <%-include('./components/notify-card.ejs') %>
    <div class="container">

      <div class="header">
          <div class="top-header">

            <div class="header-flex">
              <div class="heading">Profile</div>
              <div class="heading-des">
                Manage your personal information, keep your details up to date, and
                customize your experience, all in one place.
              </div>
            </div>
            
            <img src="/profile/<%= user.profileImage %>.jpg" alt="profile-1" class="profile-image" onclick="window.location.href = '/profile-image'">
      </div>



            <div class="filter">
              <div class="home" onclick="window.location.href='/games'">Games</div>
              <div class="history" onclick="window.location.href='/history'">
                History
              </div>
              <div class="stats" onclick="window.location.href='/my-games'">My Games</div>
              <div
                class="profile filter-active"
                onclick="window.location.href='/profile'"
              >
                Profile
              </div>
            </div>
          
          
          <div class="filter-mob">
            <a href="/games" class="down-a"><i class="ph ph-game-controller"></i></a>
            <a href="/history" class="down-a"
            ><i class="ph ph-clock-counter-clockwise"></i
              ></a>
              <a href="/my-games" class="down-a"><i class="ph ph-chart-donut"></i></a>
              <a
              href="/profile"
              class="down-a filter-mob-active"
              style="margin-right: 5px"
              ><i class="ph ph-user-circle"></i
                ></a>
              </div>
            </div>

      <div class="main">
        <div class="main-heading">Basic data</div>
        <div class="main-des">
          Your core information at a glance. Keep your essential details
          accurate and up to date.
        </div>
        <hr />
        <div class="credentials">
          <div class="input-area">
            <div class="input-heading">Email address</div>
            <input
              type="text"
              value="<%= user.email %>"
              id="email"
              disabled
              style="cursor: not-allowed"
            />
          </div>
          <div class="input-area">
            <div class="input-heading">Username</div>
            <input
              type="text"
              value="<%= user && user.username ? user.username : '' %>"
              id="username"
            />
          </div>
          <div class="input-area">
            <div class="input-heading">IGN (In Game Name)</div>
            <input
              type="text"
              value="<%= user && user.ign ? user.ign : '' %>"
              id="ign"
            />
          </div>
          <div class="input-area">
            <div class="input-heading">UPI Id</div>
            <input
              type="text"
              value="<%= user && user.upi ? user.upi : '' %>"
              id="upi"
            />
          </div>
          <div class="input-area">
            <div class="input-heading">Game</div>
            <div class="select-game">
              <% if (user.game === "ff") { %>
                <div data-game="bgmi" class="game-type">BGMI</div>
                <div data-game="ff" class="active game-type">Free-Fire</div>
                <% } else { %>
                  <div data-game="bgmi" class="active game-type">BGMI</div>
                  <div data-game="ff" class="game-type">Free-Fire</div>
             <%}%>
            </div>
          </div>
          <div class="input-area">
            <div class="input-heading">Phone number</div>
            <input
              type="text"
              value="<%= user && user.phone ? user.phone : '' %>"
              id="phone"
              disabled
              style="cursor: not-allowed"
            />
          </div>
        </div>

        <hr />
        <div id="loading-btn" class="profile-btn" hidden>
          <img
            src="https://i.gifer.com/ZZ5H.gif"
            alt="Loading..."
            width="20px"
            style="position: 'absolute'"
          />
        </div>
        <div class="profile-btn" id="update-btn">Save</div>
      </div>
    </div>

    <script>
      function setCardTimeout(eName, eDescription) {
        let errorName = document.getElementById("error-name");
        let errorDescription = document.getElementById("error-description");
        const card = document.getElementsByClassName("error-card")[0];

        errorName.innerText = eName;
        errorDescription.innerText = eDescription;
        card.classList.remove("hide");

        setTimeout(() => {
          card.classList.add("hide");
        }, 3000);
      }

      document
        .getElementById("update-btn")
        .addEventListener("click", handleUpdateData);

      function disableFeilds() {
        document.getElementById("username").disabled = true;
        document.getElementById("ign").disabled = true;
        document.getElementById("upi").disabled = true;
      }

      function enableFields() {
        document.getElementById("username").disabled = false;
        document.getElementById("ign").disabled = false;
        document.getElementById("upi").disabled = false;
      }
      function newState() {
        const loadingBtn = document.getElementById("loading-btn");
        const updateBtn = document.getElementById("update-btn");

        disableFeilds();
        loadingBtn.style.display = "block";
        updateBtn.style.display = "none";
      }
      function originalState() {
        const loadingBtn = document.getElementById("loading-btn");
        const updateBtn = document.getElementById("update-btn");

        enableFields();
        loadingBtn.style.display = "none";
        updateBtn.style.display = "block";
      }

      const gameDivs = document.querySelectorAll(".game-type");
      gameDivs.forEach((div) => {
        div.addEventListener("click", () => {
          gameDivs.forEach((d) => d.classList.remove("active"));
          div.classList.add("active");
        });
      });

      function getActiveGame() {
        const activeDiv = document.querySelector(".game-type.active");
        return activeDiv.dataset.game;
      }

      async function handleUpdateData() {
        const username = document.getElementById("username").value;
        const ign = document.getElementById("ign").value.trim();
        const upi = document.getElementById("upi").value;
        if (ign.length === 0) return sendNotification("error", "In game name is required.", "Value error!")
        const game = getActiveGame();
        newState();

        try {
          const res = await fetch("/profile", {
            method: "PATCH",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ username, ign, upi, game }),
          });

          const data = await res.json();

          if (res.ok) {
            // setCardTimeout("Success!", "Changes have been made successfully.");
            sendNotification("success", data.message, "Updated successfully!")
          } else {
            sendNotification("error", data.message, "Updation error!")
          }
        } catch (err) {
          console.log("Error:", err);
        } finally {
          originalState();
          enableFields();
        }
      }
    </script>
  </body>
</html>
